.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(to right, rgb(50, 50, 121), rgb(204, 211, 225)); */
}

.img {
  border-radius: 20px;
}

.dashboardContainer {
  min-height: 60vh;
  padding: 0 0rem;
  margin: 0%;
  padding-top: 5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  color: rgb(3, 3, 3);
  /* background: linear-gradient(to right, rgb(50, 50, 121), rgb(204, 211, 225)); */
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
}
